<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472986347166-k6qidcpg9ihth7msdo0d1qshco0bh0rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472986347166-k6qidcpg9ihth7msdo0d1qshco0bh0rn</string>
	<key>API_KEY</key>
	<string>AIzaSyALvm_Nxx57xJlgH_jgR26gEdMFevAAEk4</string>
	<key>GCM_SENDER_ID</key>
	<string>472986347166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caelitechnologies.rotary-nl-rye</string>
	<key>PROJECT_ID</key>
	<string>rotary-nl-rye</string>
	<key>STORAGE_BUCKET</key>
	<string>rotary-nl-rye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472986347166:ios:808f8259509d5112cebd8f</string>
	<key>DATABASE_URL</key>
	<string>https://rotary-nl-rye-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>